.container {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
}

.item1 {
    flex: 30%;
    text-align: center;
}

.item2 {
    flex: 70%;
}

.img {
    max-width: 100;
    width: 30%;
    height:auto;
    float:right;
}

.maindiv {
    padding: 15px;
    margin: 30px;
}