body {
    background-color: #b3ffe6;
    margin:0;
    padding:0;
}

header {
    background-color: #0099ff;
    flex-wrap:wrap;
    margin:0;
    padding: 15px;
    font-size: 200%;
}

#shark {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

#me {
    margin: 15px;
    float: left;
    display: flex;
    max-width: 90%;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgb(32, 32, 32);
}

.container {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
}

.itemL {
    flex: 30%;
    text-align: center;
}

.itemR {
    flex: 70%;
    text-align: none; 
}

.container2 {
    flex: 100%;
}

.item_left {
    flex: 30%;
}

.item_right {
    flex: 70%;
}

.navbar {
    margin: 0;
    padding: 10px;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 4px 8px 0 black;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

.link {
    text-decoration: none;
    color: white;
    margin:0;
    padding: 10px;
}

.link:hover {
    box-shadow: 0 4px 8px 0 black;
    background-color: rgb(131, 131, 131); 
    color: black;
}

.intro {
    padding: 10px;
    margin: 0px;
    background-color: beige;
}

.purpose {
    font-size: 100%;
    text-align: center;
}

footer {
    box-shadow: 0 4px 8px 0 black;
    background-color: #0099ff;
    margin: 0;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

/*iphone 5 and 5s and iphone 6, 7, 8*/
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    
    header {
        font-size: 90%;
        text-align: center;
    }

    .container {
        display: block;
        flex: 100%;
        flex-wrap: wrap;
    }

    .container2 {
        display: block;
        flex: 100%;
        flex-wrap: wrap;
    }

    .itemL {
        flex: none;
    }

    .itemR {
        flex: none;
    }
   
}

/*iphone X*/
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {

    header {
        font-size: 90%;
        text-align: center;
    }
    
    .container {
        display: block;
        flex: 100%;
        flex-wrap: wrap;
    }

    .container2 {
        display: block;
        flex: 100%;
        flex-wrap: wrap;
    }

    .itemL {
        flex: none;
    }

    .itemR {
        flex: none;
    }
}

@media only screen and (min-device-width : 813px) and (max-width: 935px) {
    
    header {
        font-size: 150%;
        text-align: none;
    }

    

}

