body {
    background-color: #b3ffe6;
    margin:0;
    padding:0;
}

header {
    background-color: #0099ff;
    flex-wrap:wrap;
    margin:0;
    padding: 15px;
    font-size: 200%;
    text-align: center;
}

.navbar {
    margin: 0;
    padding: 10px;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 4px 8px 0 black;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

.link {
    text-decoration: none;
    color: white;
    margin:0;
    padding: 10px;
}

.link:hover {
    box-shadow: 0 4px 8px 0 black;
    background-color: rgb(131, 131, 131); 
    color: black;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    }
    header {
        font-size: 80%;
    }
}