body {
    background-color: rgb(20, 57, 97);
    margin:0;
}

header {
    background-image: linear-gradient(to bottom, rgb(255, 174, 0), rgb(255, 51, 0));
    padding: 15px;
    text-align: center;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0 4px 8px 0 rgb(1, 22, 44);
}

ul.nav li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
}

ul.nav li a:visited {
    color: white;
    text-decoration: none;
}

li {
    float:left;
    padding: 15px;
    margin:0;
    cursor: pointer;
}

li:hover {
    background-color: rgb(82, 82, 82); 
}

li.active {
    background-color: rgb(0, 0, 0);
}

li.floatright {
    float: right;
}

li.user {
    background-color: #333;
    color: white;
}

.login {
    margin: 100px 300px 100px 300px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.white {
    background-color: white;
    padding: 15px 50px 15px 50px;
    margin: 5% 10%;
    box-shadow: 0 4px 8px 0 rgb(1, 22, 44);
}

.menu {
    display: none;
}



.center {
    text-align: center;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

.post {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.submit {
    width: 30%;
    background-color: rgb(8, 40, 110);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text] {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;    
}

input[type=password] {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

textarea {
    width: 50%;
    border-radius: 4px; 
    border: 1px solid #ccc;
}

.time_date {
    font-size: 80%;
    color: rgb(53, 53, 53);
}

.right {
    float: right;
}

.search {
    border: 2px solid rgb(55, 3, 71);
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(55, 3, 71);
}

.check_game {
    border: 2px solid rgb(55, 3, 71);
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

/*iphone 5 and 5s and iphone 6, 7, 8*/
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    .login {
        margin: 10px;
    }
    li {
        float:none;
    }
    li.floatright {
        float: none;
    }
    ul.nav {
        text-align: center;
    }
    .white {
        margin: 5%;
        padding: 10px;
    }
    .menu {
        display: inline-block;
        color:white;
    }
    #dude {
        display: none;
    }
    .mylink {
        display: block;
    }
    textarea {
        width: 90%;
    }
    .name {
        font-size: 70%;
    }
    
}
/*iphone X*/
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {
    .login {
        margin: 10px;
    }
    li {
        float:none;
    }
    li.floatright {
        float: none;
    }
    ul.nav {
        text-align: center;
    }
    .white {
        margin: 5%;
        padding: 10px;
    }
    .menu {
        display: inline-block;
        color:white;
    }
    #dude {
        display: none;
    }
    .mylink {
        display: block;
    }
    textarea {
        width: 90%;
    }
    .name {
        font-size: 70%;
    }
    
}

@media only screen and (min-device-width : 813px) and (max-width: 935px) {
    .login {
        margin: 20%;
    }
}